{% extends 'temp/hod.html' %}
{% block admin %}
<div align="center">
    <h1>ADD COURSE MAPPING</h1>
 <form id="form1" name="form1" method="post" action="">

{% csrf_token %}

                                <label></label>
                                <div class="row margin-bottom-20">
                                    <div class="col-md-6 col-md-offset-0">
                                        <select class="form-control"  required name="cn" >
                                            <option value="">select cource</option>
                                             {% if objval %}
        {% for ob in objval %}
      <option value="{{ ob.c_id }}">{{ ob.cname }}</option>
        {% endfor %}
        {% endif %}
                                        </select>
                                    </div>
                                </div>


  <div class="row margin-bottom-20">
                                    <div class="col-md-6 col-md-offset-0">
                                        <select class="form-control"  required name="sem" >
                                            <option value="">select sem</option>
                                             <option value="1"> 1</option>
                                             <option value="2"> 2</option>
                                             <option value="3"> 3</option>
                                             <option value="4"> 4</option>
                                             <option value="5"> 5</option>
                                             <option value="6"> 6</option>


                                        </select>
                                    </div>
                                </div>
  <label></label>
                                <div class="row margin-bottom-20">
                                    <div class="col-md-6 col-md-offset-0">
                                        <select class="form-control"  required name="tid" >
                                            <option value="">select teacher</option>
                                             {% if objval1 %}
        {% for ob in objval1 %}
      <option value="{{ ob.t_id }}">{{ ob.fullname }}</option>
        {% endfor %}
        {% endif %}
                                        </select>
                                    </div>
                                </div>

                               <div class="row margin-bottom-20">
                                    <div class="col-md-6 col-md-offset-0">

                                    </div>
                                </div>
 <select class="form-control"  required name="sub" >
                                            <option value="">select subject</option>
                                             {% if objval3 %}
        {% for ob3 in objval3 %}
      <option value="{{ ob3.sub_id }}">{{ ob3.sub_name }}||{{ ob3.sub_code }}||sem {{ ob3.sem }}</option>
        {% endfor %}
        {% endif %}
                                        </select>
{#                                #}
      <div class="row margin-bottom-20">
                                    <div class="col-md-6 col-md-offset-0">
                                         <button type="submit" class="btn btn-primary">ADD</button>
                                    </div>
                                </div>

                            </form>


{% endblock %}