{% extends 'temp/tutor.html' %}
{% block admin %}

<h3>    WELCOME FACULTY</h3>
    <br>KMCT School of Business (KSB) is functioning as the autonomous department for Management studies established in 2004 under KMCT College of Engineering. KSB is an independent dedicated B-School to develop the individual potential and innovation of young, energetic and dynamic aspirants and to groom them as leaders of future.

KSB is conceived as a centre of excellence, providing opportunities for:

Learning through realization, refocused learning- teaching process, building self-confidence with global outlook, achieving knowledge management with healthy and ethical habits, infusing self discipline and self-direction, self –discovering processes and transformation, innovative research in leadership, developing intellectual inputs and emotional intelligence, entrepreneurial development and other allied managerial activities in general with special reference to application of the learned skills in functional areas.
{% endblock %}