{% extends 'temp/advisor.html' %}
{% block admin %}
<div align="center">
 <h3 align="center">View Batch</h3>
    <table border="1" align="center" class="table">
        <tr bgcolor="#e6e6fa">

            <td>Name </td>

{#            <td>Cource</td>#}
<td>Contact</td>
            <td>Gender</td>
             <td>Batch</td>
        </tr>
        {% if objval %}
        {% for ob in objval %}
        <tr>
{#            <td>{{ ob.s_id }}</td>#}
            <td>{{ ob.sname }}</td>
{#            <td>{{ ob.c_id }}</td>#}
            <td>{{ ob.phone }}</td>
         <td>{{ ob.sex }}</td>
         <td>{{ ob.batch }}</td>
 <td><a href="{% url 'vmark' idd=ob.s_id %}"><h4><u>MARK </u></h4></a></td>


        </tr>
        {% endfor %}
        {% endif %}

    </table>


{% endblock %}